/*Universal*/
div{
    display: block;
}
body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  align-items: center;
  padding-top: 0;
  margin-top:0;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
h2{
  opacity:0.9;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
a{
  color: seashell;
  border: 0;
  text-decoration: underline;
}
.image-elements{
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  text-align: center;
}

/*header*/
.header{
  display: flex;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  z-index: 1;
  border-bottom: 1px solid seashell;
}
.header nav {
  display:inline-block;
  align-items: center;
  align-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}
.logo img{
  width: 200px;
  height: 50px;
  border: 0;
}
.header nav {
  padding-right: 40px;
}

/*Container Basics*/
.container{
  display: flex;
  width: 100%;
  padding-top: 70px;
  margin: 0 auto auto auto;
}
.column{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    width: 1200px;
}
.row{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  margin: 0;
  justify-content: center;
  width: 100%;
  height: 700px;
  padding-left: 50px;
  padding-right: 50px;
}

/*row dimensions*/
.column .sections{
    display: block;
    padding: 0px 0px 50px 0px;
    width: 1200px;
    height: auto;
    align-content: center;
}
.sections .mission-section{
  width: 100%;
  height: 700px;
}
.sections .teaofthemonth-section{
  display: inline-flex;
  flex-flow: column wrap;
  width: 1000px;
  height: 680px;
  padding: 100px 100px 20px 100px;
  align-content: center;
}
.sections .locations-section{
  display: flex;
  flex-flow: column wrap;
  width: 1200px;
  height: 500px;
}

/*first section - mission-section*/
.mission-section .image-elements{
  background: url('../images/img-mission-background.jpg') black;
  padding: 0;
}
.mission-section .image-elements .text-content{
  background-color: black;
  padding-top: 15px;
  margin: auto 0;
}

/*second section - teaofthemonth-section*/
.teaofthemonth-section .text-content{
  text-align: center;
  padding: 0;
  margin: 0;
}
.teaofthemonth-section .row span{
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 25px;
  margin: 0;
  text-align: center;
}
.teaofthemonth-section .row span img{
  height: 200px;
  width: 300px;
  flex-grow: 2;
}
.teaofthemonth-section .row span h4{
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
}
/*Third Section - locations-section*/
.locations-section .image-elements{
  background: url('../images/img-locations-background.jpg') black;
  padding: 0;
}
.locations-section .image-elements h2{
  padding-top: 100px;
  padding-bottom: 15px;
  margin: 0;
}
.image-elements .row{
  height: 500px;
  margin: 0;
  padding-top: 0px;
}
.image-elements .row .text-content{
  display: block;
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 250px;
  margin-right: 40px;
  align-items: center;
}
/*Footer Section - footer-section*/
.sections .footer-section{
  padding: 0;
  margin: 0;
}
.footer-section .text-content{
  text-align: center;
  padding: 0;
  margin: 0;
}
.footer-section .copywright{
  text-align: left;
  padding-right: 20px;
}
